html {
  max-width: 800px;
  margin: auto;
  text-align: center;
}

nav ul {
  height: 50px;
  list-style-type: none;
}

nav li {
  float: left;
}

#first {
  text-decoration: none;
  display: block;
  padding: 35px;
  background-color: white;
}

nav a {
  text-decoration: none;
  display: block;
  padding: 25px;
  background-color: blue;
  color: white;
}

nav a:hover {
  background-color: lightblue;
}

nav ul li a img {
  border-radius: 50%;
}

#profileCard {
  padding: 18px;
  background-color: lightgrey;
  text-align: center;
  margin-top: 100px;
}

@media screen and (max-width: 800px) {
  nav ul {
    overflow: hidden;
    position: relative;
    height: 25%;
  }

  #first {
    text-decoration: none;
    display: block;
    padding: 0px;
  }

  #first img {
    width: 50%;
    height: auto;
  }

  nav ul #links {
    display: none;
  }

  nav li {
    float: none;
  }

  nav ul a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
}
