html {
  max-width: 800px;
  margin: auto;
  text-align: center;
}

ul {
  height: 50px;
  list-style-type: none;
}

li {
  float: left;
}

#first {
  text-decoration: none;
  display: block;
  padding: 35px;
  background-color: white;
}

a {
  text-decoration: none;
  display: block;
  padding: 25px;
  background-color: blue;
  color: white;
}

a:hover {
  background-color: lightblue;
}

nav ul li a img {
  border-radius: 50%;
}

#profileCard {
  padding: 18px;
  background-color: lightgrey;
  text-align: center;
  margin-top: 100px;
}
