.row {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.subNav, .actionButtons {
  overflow: hidden;
  position: relative;
  height: 25%;
  list-style-type: none;
}

.subNav li, .actionButtons a {
  float: left;
}

.subNav a {
  text-decoration: none;
  display: block;
  padding: 14px 16px;
  background-color: green;
  color: white;
}

.subNav a:hover {
  background-color: lightgreen;
}

.actionButtons a {
  text-decoration: none;
  display: block;
  padding: 14px 16px;
}
