#threeDimension{text-shadow: -0.06em 0 rgba(255, 0, 0, 0.5), 0.06em 0 rgba(0, 255, 255, 0.5) !important;}

#personOneFace{box-shadow: -0.06em 0 rgba(255, 0, 0, 0.5), 0.06em 0 rgba(0, 255, 255, 0.5) !important;}
#personOneBody{box-shadow: -0.06em 0 rgba(255, 0, 0, 0.5), 0.06em 0 rgba(0, 255, 255, 0.5) !important;}

#personOneLeftArm{box-shadow: -0.06em 0 rgba(255, 0, 0, 0.5), 0.06em 0 rgba(0, 255, 255, 0.5) !important;}
#personOneRightArm{box-shadow: -0.06em 0 rgba(255, 0, 0, 0.5), 0.06em 0 rgba(0, 255, 255, 0.5) !important;}

#personOneLeftLeg{box-shadow: -0.06em 0 rgba(255, 0, 0, 0.5), 0.06em 0 rgba(0, 255, 255, 0.5) !important;}
#personOneRightLeg{box-shadow: -0.06em 0 rgba(255, 0, 0, 0.5), 0.06em 0 rgba(0, 255, 255, 0.5) !important;}

#personOneTalk{box-shadow: -0.08em 0 rgba(255, 0, 0, 0.5), 0.08em 0 rgba(0, 255, 255, 0.5) !important;}

#personTwoFace{box-shadow: -0.06em 0 rgba(255, 0, 0, 0.5), 0.06em 0 rgba(0, 255, 255, 0.5) !important;}
#personTwoBody{box-shadow: -0.06em 0 rgba(255, 0, 0, 0.5), 0.06em 0 rgba(0, 255, 255, 0.5) !important;}

#personTwoLeftArm{box-shadow: -0.06em 0 rgba(255, 0, 0, 0.5), 0.06em 0 rgba(0, 255, 255, 0.5) !important;}
#personTwoRightArm{box-shadow: -0.06em 0 rgba(255, 0, 0, 0.5), 0.06em 0 rgba(0, 255, 255, 0.5) !important;}

#personTwoLeftLeg{box-shadow: -0.06em 0 rgba(255, 0, 0, 0.5), 0.06em 0 rgba(0, 255, 255, 0.5) !important;}
#personTwoRightLeg{box-shadow: -0.06em 0 rgba(255, 0, 0, 0.5), 0.06em 0 rgba(0, 255, 255, 0.5) !important;}

#personTwoTalk{box-shadow: -0.08em 0 rgba(255, 0, 0, 0.5), 0.08em 0 rgba(0, 255, 255, 0.5) !important;}

