.card {
  background-color: lightgrey;
  width: 25%;
}

.card a {
  text-decoration: none;
  color: black
}

@media screen and (max-width: 800px) {
  .card {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }
}
