.card {
  background-color: lightgrey;
  width: 25%;
  color: black;
}

main a {
  text-decoration: none;
  display: inline-block;
  width: 75%;
}

@media screen and (max-width: 800px) {
  main a {
    text-decoration: none;
    display: inline-block;
    width: 150%;
  }
}
