.remembered-memory {
  background-color: lightgrey;
  color: black;
}

.diary-memory {
  background-color: green;
  color: white;
}

.hidden-memory {
  opacity: 0.5;
}

.row {
  display: flex;
  justify-content: center;
}

.row div {
  padding: 10px;
}

a {
  color: blue;
}

.subNav, .actionButtons {
  overflow: hidden;
  position: relative;
  height: 25%;
  list-style-type: none;
}

.subNav li, .actionButtons a {
  float: left;
}

.subNav a {
  text-decoration: none;
  display: block;
  padding: 14px 16px;
  background-color: green;
  color: white;
}

.subNav a:hover {
  background-color: lightgreen;
}

.actionButtons a {
  text-decoration: none;
  display: block;
  padding: 14px 16px;
}

.edit {
  background-color: yellow;
  color: black;
}

.edit:hover {
  background-color: lightyellow;
}

.hide {
  background-color: white;
  color: black;
}

.hide:hover {
  background-color: grey;
}

.delete {
  background-color: red;
  color: white;
}

.delete:hover {
  background-color: Crimson;
}

.keep {
  background-color: green;
  color: white;
}

.keep:hover {
  background-color: lightgreen;
}

@media screen and (min-width: 1024px) {
  ol {
    text-align: left;
  }

  .subNav a {
    padding: 25px;
  }
}
