.remembered-memory {
  background-color: blue;
  color: white;
}

.diary-memory {
  background-color: green;
  color: white;
}

a {
  background-color: white;
  color: blue;
}

@media screen and (min-width: 1024px) {
  ol {
    text-align: left;
  }
}
