.row {
  display: flex;
  justify-content: center;
}

.row div {
  padding: 10px;
}

.remembered-memory {
  background-color: lightgrey;
  color: black;
}

.diary-memory {
  background-color: green;
  color: white;
}

.hidden-memory {
  opacity: 0.5;
}

input[type=submit] {
  background-color: blue;
  color: white;
  border: 0;
  padding: 16px 32px;
  width: 100%;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: lightblue;
}
