.row {
  display: flex;
  justify-content: center;
}

.row div {
  padding: 10px;
}

.remembered-memory {
  background-color: lightgrey;
  color: black;
}

.diary-memory {
  background-color: green;
  color: white;
}

.hidden-memory {
  opacity: 0.5;
}
