<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
    <link rel="icon" href="{{ url_for('static', filename='img/ephraim_becker.ico') }}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/ephraim_becker.png') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="Ephraim Becker, autism, aspergers, ADHD" />
  </head>
  <body>
    {% set navigation_bar = [
    ('/', 'index', 'Home'),
    ('/timeline/', 'timeline', 'Timeline')
    ] -%}

    {% set navigation_bar_two = [
    ('/everydayLife/', 'everydayLife', 'Everyday Life'),
    ('/college/', 'college', 'College Life')
    ] -%}

    {% set navigation_bar_three = [
    ('/projects/', 'projects', 'Projects'),
    ('/resources/', 'resources', 'Resources'),
    ('/about/', 'about', 'About')
    ] -%}

    {% set active_page = active_page|default('index') -%}
    <nav>
      <ul>
        <li id="first"><img src="{{ url_for('static', filename='img/ephraim-becker.jpg') }}" alt="Photo of Ephraim Becker" width="70px" height="70px" /></li>
        <li id="hamburger-icon"><a href="#" onclick="toggleNavMenu()">&#9776;</a></li>
        <div id="links">
          {% for href, id, caption in navigation_bar %}
          <li {% if id == active_page %} class="focus"{% endif %}><a href="{{ href|e }}">{{ caption|e }}</a></li>
          {% endfor %}
          <div id="dropdown">
            <li {% if active_page == 'everydayLife' or active_page == 'college' %} class="focus"{% endif %}><a href="#" onclick="toggleNavSubmenu()">Daily Life &emsp; &#x25BC;</a></li>
            <div id="dropdown-content">
              {% for href, id, caption in navigation_bar_two %}
              <li {% if id == active_page %} class="focus"{% endif %}><a href="{{ href|e }}">{{ caption|e }}</a></li>
              {% endfor %}
            </div>
          </div>
          {% for href, id, caption in navigation_bar_three %}
          <li {% if id == active_page %} class="focus"{% endif %}><a href="{{ href|e }}">{{ caption|e }}</a></li>
          {% endfor %}
        </div>
      </ul>
    </nav>
    {% block content %}
    {% endblock %}
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  </body>
</html>
