<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
    <nav>
      <ul>
        <li id="first"><img src="{{ url_for('static', filename='img/ephraim-becker.jpg') }}" alt="Photo of Ephraim Becker" width="70px" height="70px" /></li>
        <li id="hamburger-icon"><a href="#" onclick="toggleNavMenu()">&#9776;</a></li>
        <div id="links">
          <li class="focus"><a href="#">Home</a></li>
          <li><a href="timeline/">Timeline</a></li>
          <div id="dropdown">
            <li><a href="#" onclick="toggleNavSubmenu()">Daily Life &emsp; &#x25BC;</a></li>
            <div id="dropdown-content">
              <li><a href="everydayLife/">Everyday Life</a></li>
              <li><a href="college/">College Life</a></li>
            </div>
          </div>
          <li><a href="projects/">Projects</a></li>
          <li><a href="resources/">Resources</a></li>
          <li><a href="about/">About</a></li>
        </div>
      </ul>
    </nav>
    {% block content %}
    {% endblock %}
  </body>
</html>
