{% extends 'base.html' %}
{% set active_page = "everydayLife" %}
{% block content %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ephraim Becker - Goals</title>
    <link rel="canonical" href="https://www.ephraimbecker.com/everydayLife/goals/" />
    <meta name="description" content="Hi! My name is Ephraim Becker and these are my goals." />
  </head>
  <body>
    <header>
      <h1 style="font-weight: bold;">Goals</h1>
    </header>
    <main>
      <ol style="text-align: left;">
        <li>Get out of defense mode (hopefully with some course in <a target="_blank" rel="noopener" href="https://www.aspergerexperts.com/">Aspergers Experts</a>)</li>
        <li>Become better at socializing</li>
        <li>Expressing myself more</li>
        <li>Mindfulness</li>
        <li>Get out of the house and be independent</li>
        <li>Being more professional in the workplace</li>
      </ol>

      <h2>Goal log</h2>
      <table>
        <tr>
          <th>Date</th>
          <th>Goal worked on</th>
          <th>Log</th>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </main>
  </body>
</html>
{% endblock %}
