{% extends 'base.html' %}
{% set active_page = "index" %}
{% block content %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ephraim Becker - All about my autistic life</title>
    <link rel="canonical" href="https://www.ephraimbecker.com/" />
    <meta name="description" content="Hi! My name is Ephraim Becker and this is a website about my life and how people can learn from it." />
  </head>
  <body>
    <main>
      <div id="profileCard" itemscope itemtype="https://schema.org/Person">
        <img src="{{ url_for('static', filename='img/ephraim-becker.jpg') }}" itemprop="image" alt="Photo of Ephraim Becker" width="100px" height="100px" />
        <h1 style="font-weight: bold;" itemprop="name">Ephraim Becker</h1>
        <p>
          <span style="font-weight: bold;">Age: </span>
          <span>{{ age }}</span>
        </p>
        <p>
          <span style="font-weight: bold;">Diagnosis: </span>
          <span>Autism, ADHD</span>
        </p>
        <p>
          <span style="font-weight: bold;">Birthdate: </span>
          <span itemprop="birthDate"><time datetime="1996-07-19T12:21">July 19, 1996 @ 12:21PM</time></span>
        </p>
        <p>
          <span style="font-weight: bold;">Religion: </span>
          <span>Modern Orthodox Jewish (My parents are ultra-orthodox Jewish)</span>
        </p>
        <p>
          <span style="font-weight: bold;">Interests: </span>
          <span>Technology, Astronomy, Sci-fi/fantasy movies, Trains</span>
        </p>
        <p>
          <span style="font-weight: bold;">Location: </span>
          <span>Far Rockaway, NY, United States</span>
        </p>
        <div>
          <a target="_blank" rel="noopener" style="display: inline; background-color: rgba(0,0,0,0);" href="https://www.facebook.com/ephraim.becker/"><img src="{{ url_for('static', filename='img/f_logo_RGB-Blue_1024.png') }}" alt="Facebook logo" width="50px" height="auto" /></a>
          <a target="_blank" rel="noopener" style="display: inline; background-color: rgba(0,0,0,0);" href="https://www.messenger.com/t/100009677345527/"><img src="{{ url_for('static', filename='img/logo-16@3x.png') }}" alt="Messenger logo" width="50px" height="auto" /></a>
          <a target="_blank" rel="noopener" style="display: inline; background-color: rgba(0,0,0,0);" href="https://www.instagram.com/ephraim.becker/"><img src="{{ url_for('static', filename='img/Instagram_Glyph_Gradient_RGB.png') }}" alt="Instagram logo" width="50px" height="auto" /></a>
          <a target="_blank" rel="noopener" style="display: inline; background-color: rgba(0,0,0,0);" href="https://twitter.com/emb180"><img src="{{ url_for('static', filename='img/twitterLogo.png') }}" alt="Twitter logo" width="50px" height="auto"></a>
          <a target="_blank" rel="noopener" style="display: inline; background-color: rgba(0,0,0,0);" href="https://www.youtube.com/channel/UCIHxAXYLxYlNaQiv0do0bUg"><img src="{{ url_for('static', filename='img/yt_icon_rgb.png') }}" alt="YouTube logo" width="50px" height="auto" /></a>
          <a target="_blank" rel="noopener" style="display: inline; background-color: rgba(0,0,0,0);" href="https://www.linkedin.com/in/ephraim-becker-3263b810b/"><img src="{{ url_for('static', filename='img/LI-In-Bug.png') }}" alt="Linkedin logo" width="50px" height="auto" /></a>
          <a target="_blank" rel="noopener" style="display: inline; background-color: rgba(0,0,0,0);" href="https://github.com/EphraimB"><img src="{{ url_for('static', filename='img/GitHub-Mark-64px.png') }}" alt="GitHub logo" width="50px" height="auto" /></a>
          <a target="_blank" rel="noopener" style="display: inline; background-color: rgba(0,0,0,0);" href="https://www.autismforums.com/members/ephraim-becker.16496/"><img style="border: 1px solid black;" src="{{ url_for('static', filename='img/aflogo.png') }}" alt="Autism Forums logo" width="auto" height="50px" /></a>
          <a target="_blank" rel="noopener" style="display: inline; background-color: rgba(0,0,0,0);" href="https://www.aspergerexperts.com/profile/60330-ephraim-becker/"><img src="{{ url_for('static', filename='img/aesquare.png') }}" alt="Aspergers Experts logo" width="auto" height="50px" /></a>
        </div>
      </div>
    </main>
  </body>
</html>
{% endblock %}
