{% extends 'base.html' %}
{% set active_page = "projects" %}
{% block content %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ephraim Becker - Projects</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/projects.css') }}">
    <link rel="canonical" href="https://www.ephraimbecker.com/projects/" />
    <meta name="description" content="Hi! My name is Ephraim Becker and these are my projects.">
  </head>
  <body>
    <header>
      <h1 style="font-weight: bold;">Projects</h1>
    </header>
    <main>
      <div class="grid-container">
          <div class="card">
            <a target="_blank" href="virtualFriend/">
              <h2>Virtual Friend</h2>
              <p>A Virtual Friend project I built in 2016 and needs to be updated.</p>
              <p>Click to view</p>
            </a>
          </div>
          <div class="card">
            <a href="{{ url_for('static', filename='files/wizardc.zip') }}">
              <h2>Wizardc7</h2>
              <p>A Harry Potter currency converter I made in Darchei.</p>
              <p>Click to download onto calculator</p>
            </a>
          </div>
          <div class="card">
            <a href="{{ url_for('static', filename='files/Kosherizer-master.zip') }}">
              <h2>Kosherizer chrome extention</h2>
              <p>A Google Chrome extention that gets rid of all the curse words.</p>
              <p>Click to download</p>
            </a>
          </div>
          <div class="card">
            <h2>Star Trek beaming video</h2>
            <p>I video composited a beaming video from my bedroom to my pschcology office with a green screen.</p>
            <iframe width="280" height="auto" src="https://www.youtube.com/embed/6ktNUS7dt0M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
    </main>
  </body>
</html>
{% endblock %}
